<div style="width:100%; max-width:400px; min-width:300px; background-color: #fff;">
    <h2 style="text-align: center;">Forgot Password</h2>
    <form style="width:80%; margin:20px auto; text-align: center;" action="/auth/forgotPwd" method="post"> <!-- center - for button-->
        <input class="height40 w100pc borderBox bdr1" style="padding-left:5px" type="text" name="loginName" placeholder="Enter login id" required/>
        <button class="height40 borderBox margin10 bdr1" style="width:100px;" type="submit">Generate password</button>
    </form>
    <a class="margin10" href="/auth/login" style="float:right;">Sign In</a>
</div>
