<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--<link rel="manifest" href="/public/pwa/<?php echo $application['entityName']; ?>/manifest.json">-->

    <title>MChat</title>
</head>
<body style="overscroll-behavior-y:contain;">
<div id="xflowContainer"> Add component here </div>
<noscript>Javascript is disabled or not supported1!</noscript>

<!-- Note script tag will get added through htmlWebpackPlugin when build is created -->

<script type="text/javascript" src="/js/dev/mobile.bundle.2c677a1919ad0df6bbaf.js"></script></body>
</html>